.header{
  width: 100%;
  height: 100px;
  position: relative;
}
.header__container--title{
  position: absolute;
  color: $color_claro;
  background: $color-secundario;
  top: 20%;
  left: 40%;
  padding: 5px;
  border: 5px solid $color_claro;
}
.header__img{
  width: 100%;
  height: 100%;
}