.info{
  display: grid;
  grid-template-columns: 4fr 5fr;
}
.info__img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
  & img{
  width: 30%;
  border: 10px solid $color-primario;
  }
}
.info__details{
  display: flex;
  width: 50%;
  flex-direction: column;
 justify-content: center;
 padding-left: 2em;
 color: $color-claro;
}