  /* Para 600px */  
@media only screen and (max-width: 620px) and (min-width: 501px) {  
  .header__container--title{
    left: 25%
  }
  .footer__container ul{
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}  
  
/* Para 480px */  
@media only screen and (max-width: 500px) and (min-width: 341px) {  
  .header__container--title{
    width: 40%;
    left: 27%;
    font-size: .7em;
  }
  .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .info__img img{
    width: 80%;    
  }
  .info__details{
    width: 90%;
   padding-left: 0em;
   & h2{
     text-align: center;
   }
  }
  .footer__container ul{
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}  
  
/* Para 320px */  
@media only screen and (max-width: 340px) and (min-width: 5px)  {  
  .header__container--title{
    width: 40%;
    left: 27%;
    font-size: .5em;
  }
  .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .info__img img{
    width: 80%;    
  }
  .info__details{
    width: 80%;
   padding-left: 0em;
   & h2{
     text-align: center;
   }
  }
  
  .footer__container ul{
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
} 